<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Recipe Application</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <% for(var i=0; i<nav.length;i++){%>
            <li><a href="<%=nav[i].Link%>"><%=nav[i].Text%></a></li>  
          <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12 text-center">
             <h1>Edit Recipe</h1>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <img alt="" src="<%=recipe.imgDir%>" style="width:100px;height:100px" class="img-circle">
            </div>
            <div class="col-md-10 col-sm-9">
                <form name="addRecipeForm" action="/Services/edit/<%=recipe._id%>" method="post">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-4 text-center">
                            <label for="recipeTitle">Recipe Title</label>
                            <input type="text" class="form-control" name="recipeTitle" id="recipeTitle" value="<%=recipe.title%>">
                        </div>
                        <div class="col-md-4">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="producer" style="margin-left: 15px; ">Producer</label>
                            </div>
                            <select name="producer" class="custom-select" id="producer">
                              <option value="<%=recipe.producer%>" >Choose if Changing</option>
                              <option value="Hello Fresh">Hello Fresh</option>
                              <option value="Blue Apron">Blue Apron</option>
                              <option value="Home Chef">Home Chef</option>
                            </select>
                        </div>
                    </div> <br>
            </div>
            <div class="row">
              <div class="col-md-12">
                      <div class="form-group text-center">
                        <h4>Nutritional Information</h4>
                        <div class="row">
                          <div class="col-md-3">
                            <label for="fats">Fats (g) </label>
                            <input name="fats" type="text" class="form-control" id="fats" value="<%=recipe.nutritionValues.fat%>">
                          </div>
                          <div class="col-md-3">
                            <label for="Satfats">Saturated Fats (g)</label>
                            <input name="satFats" type="text" class="form-control" id="Satfats" value="<%=recipe.nutritionValues.saturatedFat%>">
                          </div>
                          <div class="col-md-3">
                            <label for="carbs">Carbs (g)</label>
                            <input name="carbs" type="text" class="form-control" id="carbs" value="<%=recipe.nutritionValues.carbohydrate%>">
                          </div>
                          <div class="col-md-3">
                            <label for="sugar">Sugar (g)</label>
                            <input name="sugar" type="text" class="form-control" id="sugar" value="<%=recipe.nutritionValues.sugar%>">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <label for="fiber">Fiber (g)</label>
                            <input name="fiber" type="text" class="form-control" id="fiber" value="<%=recipe.nutritionValues.fiber%>">
                          </div>
                          <div class="col-md-3">
                            <label for="protein">Protein (g)</label>
                            <input name="protein" type="text" class="form-control" id="protein" value="<%=recipe.nutritionValues.protein%>">
                          </div>
                          <div class="col-md-3">
                            <label for="chol">Cholesterol (mg)</label>
                            <input name="chol" type="text" class="form-control" id="chol" value="<%=recipe.nutritionValues.cholesterol%>">
                          </div>
                          <div class="col-md-3">
                            <label for="sodium">Sodium (mg)</label>
                            <input name="sodium" type="text" class="form-control" id="sodium" value="<%=recipe.nutritionValues.sodium%>">
                          </div>
                        </div>
                      </div>
              </div>
                      <hr>

                    <div class="col-md-12">
                      <% for(var i=1;i<7;i++){%>
                          <hr>
                      <h4>Step <%=i%></h4>
                      <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="step<%=i%>">Name of Step</label>
                            <input name="step<%=i%>name" type="text" class="form-control" id="step<%=i%>" value="<%=recipe.steps[i-1].name%>">
                        </div>
                        <div class="col-md-8 form-group">
                            <label for="step<%=i%>D">Step Details</label>
                            <textarea name="step<%=i%>details" class="form-control" id="step<%=i%>D"><%=recipe.steps[i-1].body%></textarea>
                        </div>
                      </div>
                      <%}%>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center">
                          <label for="url">Online Image URL</label>
                          <input name="url" type="text" class="form-control" id="url" value="<%=recipe.imgDir%>">
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                      <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </form>
                    </div>
            </div>

          <hr>
          

          <a href="/Services/edit" class="btn btn-primary pull-left btnPrevious">Back <i class="glyphicon-chevron-left glyphicon"></i></a>
          <a href="/logout" class="btn btn-primary pull-right btnNext">Logout <i class="glyphicon glyphicon-chevron-right"></i></a>

        </div><!--/panel-body-->
      </div><!--/panel-->
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div><!--/row-->
</div><!--/container-->
